body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: 0;
    background-image: url('dinero3.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
}

.titulo {
    position: absolute;
    top: 5%; /* Ajusta la posición según lo necesites */
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    font-size: 32px; /* Tamaño del título */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


#calculator {
    width: 400px;
    height: 600px;
    background-color: #e899e4;
    padding: 20px;
    border-radius: 45px;
    box-shadow: 10px 10px 30px rgba(168, 62, 62, 0.868);
    display: grid;
    gap: 10px;
}

#display {
    width: 90%;
    height: 60px;
    font-size: 40px;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    border: 10px;
    background-color: rgb(220, 229, 238);
    color: #000000;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button {
    height: 70px;
    font-size: 35px;
    border: 50xp;
    border-radius: 100px;
    background-color: rgb(224, 207, 110);
    color: #b39b20;
    transition: 0.2s;
}

button:hover {
    background-color: #1b263b;
    cursor: pointer;
}

.operator {
    color: rgb(58, 124, 246);
}

.equal {
    grid-column: span 2;
    background-color: #eeb7ff;
}
